<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-association-heading">Create or edit a Association</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_score">Score</label>
                    <input type="number" class="form-control" name="score" id="field_score"
                           formControlName="score"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_candidat">Candidat</label>
                    <select class="form-control" id="field_candidat" name="candidat" formControlName="candidat">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="candidatOption.id === editForm.get('candidat')!.value?.id ? editForm.get('candidat')!.value : candidatOption" *ngFor="let candidatOption of candidats; trackBy: trackById">{{ candidatOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sen">Sen</label>
                    <select class="form-control" id="field_sen" name="sen" formControlName="sen">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="senOption.id === editForm.get('sen')!.value?.id ? editForm.get('sen')!.value : senOption" *ngFor="let senOption of sens; trackBy: trackById">{{ senOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
