<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-resultat-detaille-heading">Create or edit a Resultat Detaille</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_noDepot">No Depot</label>
                    <input type="text" class="form-control" name="noDepot" id="field_noDepot"
                           formControlName="noDepot"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sexe">Sexe</label>
                    <select class="form-control" name="sexe" formControlName="sexe" id="field_sexe">
                        <option value="M">M</option>
                        <option value="F">F</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                           formControlName="prenom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nuance">Nuance</label>
                    <input type="text" class="form-control" name="nuance" id="field_nuance"
                           formControlName="nuance"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_resultatCandidat">Resultat Candidat</label>
                    <input type="text" class="form-control" name="resultatCandidat" id="field_resultatCandidat"
                           formControlName="resultatCandidat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nuanceListe">Nuance Liste</label>
                    <input type="text" class="form-control" name="nuanceListe" id="field_nuanceListe"
                           formControlName="nuanceListe"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_libelleListe">Libelle Liste</label>
                    <input type="text" class="form-control" name="libelleListe" id="field_libelleListe"
                           formControlName="libelleListe"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_teteListe">Tete Liste</label>
                    <input type="text" class="form-control" name="teteListe" id="field_teteListe"
                           formControlName="teteListe"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_voix">Voix</label>
                    <input type="number" class="form-control" name="voix" id="field_voix"
                           formControlName="voix"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_voixOnIns">Voix On Ins</label>
                    <input type="number" class="form-control" name="voixOnIns" id="field_voixOnIns"
                           formControlName="voixOnIns"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_voixOnExp">Voix On Exp</label>
                    <input type="number" class="form-control" name="voixOnExp" id="field_voixOnExp"
                           formControlName="voixOnExp"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_sieges">Sieges</label>
                    <input type="number" class="form-control" name="sieges" id="field_sieges"
                           formControlName="sieges"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_resultat">Resultat</label>
                    <select class="form-control" id="field_resultat" name="resultat" formControlName="resultat">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="resultatOption.id === editForm.get('resultat')!.value?.id ? editForm.get('resultat')!.value : resultatOption" *ngFor="let resultatOption of resultats; trackBy: trackById">{{ resultatOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
