<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sen">
            <h2><span>Sen</span> {{ sen.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Senmat</span></dt>
                <dd>
                    <span>{{ sen.senmat }}</span>
                </dd>
                <dt><span>Quacod</span></dt>
                <dd>
                    <span>{{ sen.quacod }}</span>
                </dd>
                <dt><span>Sennomuse</span></dt>
                <dd>
                    <span>{{ sen.sennomuse }}</span>
                </dd>
                <dt><span>Sennompat</span></dt>
                <dd>
                    <span>{{ sen.sennompat }}</span>
                </dd>
                <dt><span>Sennommar</span></dt>
                <dd>
                    <span>{{ sen.sennommar }}</span>
                </dd>
                <dt><span>Sennomtec</span></dt>
                <dd>
                    <span>{{ sen.sennomtec }}</span>
                </dd>
                <dt><span>Senprenomuse</span></dt>
                <dd>
                    <span>{{ sen.senprenomuse }}</span>
                </dd>
                <dt><span>Senprenomciv</span></dt>
                <dd>
                    <span>{{ sen.senprenomciv }}</span>
                </dd>
                <dt><span>Sendatnai</span></dt>
                <dd>
                    <span>{{ sen.sendatnai }}</span>
                </dd>
                <dt><span>Senlienai</span></dt>
                <dd>
                    <span>{{ sen.senlienai }}</span>
                </dd>
                <dt><span>Sendatdec</span></dt>
                <dd>
                    <span>{{ sen.sendatdec }}</span>
                </dd>
                <dt><span>Etasencod</span></dt>
                <dd>
                    <span>{{ sen.etasencod }}</span>
                </dd>
                <dt><span>Sendespro</span></dt>
                <dd>
                    <span>{{ sen.sendespro }}</span>
                </dd>
                <dt><span>Pcscod</span></dt>
                <dd>
                    <span>{{ sen.pcscod }}</span>
                </dd>
                <dt><span>Catprocod</span></dt>
                <dd>
                    <span>{{ sen.catprocod }}</span>
                </dd>
                <dt><span>Senrngprt</span></dt>
                <dd>
                    <span>{{ sen.senrngprt }}</span>
                </dd>
                <dt><span>Sengrppolcodcou</span></dt>
                <dd>
                    <span>{{ sen.sengrppolcodcou }}</span>
                </dd>
                <dt><span>Sengrppolliccou</span></dt>
                <dd>
                    <span>{{ sen.sengrppolliccou }}</span>
                </dd>
                <dt><span>Sentypappcou</span></dt>
                <dd>
                    <span>{{ sen.sentypappcou }}</span>
                </dd>
                <dt><span>Sencomcodcou</span></dt>
                <dd>
                    <span>{{ sen.sencomcodcou }}</span>
                </dd>
                <dt><span>Sencomliccou</span></dt>
                <dd>
                    <span>{{ sen.sencomliccou }}</span>
                </dd>
                <dt><span>Sencirnumcou</span></dt>
                <dd>
                    <span>{{ sen.sencirnumcou }}</span>
                </dd>
                <dt><span>Sencircou</span></dt>
                <dd>
                    <span>{{ sen.sencircou }}</span>
                </dd>
                <dt><span>Senburliccou</span></dt>
                <dd>
                    <span>{{ sen.senburliccou }}</span>
                </dd>
                <dt><span>Senema</span></dt>
                <dd>
                    <span>{{ sen.senema }}</span>
                </dd>
                <dt><span>Sennumtelsen</span></dt>
                <dd>
                    <span>{{ sen.sennumtelsen }}</span>
                </dd>
                <dt><span>Sendiplome</span></dt>
                <dd>
                    <span>{{ sen.sendiplome }}</span>
                </dd>
                <dt><span>Sendecora</span></dt>
                <dd>
                    <span>{{ sen.sendecora }}</span>
                </dd>
                <dt><span>Sendatpreele</span></dt>
                <dd>
                    <span>{{ sen.sendatpreele }}</span>
                </dd>
                <dt><span>Indid</span></dt>
                <dd>
                    <span>{{ sen.indid }}</span>
                </dd>
                <dt><span>Sennomusecap</span></dt>
                <dd>
                    <span>{{ sen.sennomusecap }}</span>
                </dd>
                <dt><span>Senpagper</span></dt>
                <dd>
                    <span>{{ sen.senpagper }}</span>
                </dd>
                <dt><span>Senrngprtcod</span></dt>
                <dd>
                    <span>{{ sen.senrngprtcod }}</span>
                </dd>
                <dt><span>Parpolorgcod</span></dt>
                <dd>
                    <span>{{ sen.parpolorgcod }}</span>
                </dd>
                <dt><span>Senliedec</span></dt>
                <dd>
                    <span>{{ sen.senliedec }}</span>
                </dd>
                <dt><span>Sendptnumnai</span></dt>
                <dd>
                    <span>{{ sen.sendptnumnai }}</span>
                </dd>
                <dt><span>Sendptnumdec</span></dt>
                <dd>
                    <span>{{ sen.sendptnumdec }}</span>
                </dd>
                <dt><span>Senauttra</span></dt>
                <dd>
                    <span>{{ sen.senauttra }}</span>
                </dd>
                <dt><span>Senlog</span></dt>
                <dd>
                    <span>{{ sen.senlog }}</span>
                </dd>
                <dt><span>Sencrinom</span></dt>
                <dd>
                    <span>{{ sen.sencrinom }}</span>
                </dd>
                <dt><span>Senfem</span></dt>
                <dd>
                    <span>{{ sen.senfem }}</span>
                </dd>
                <dt><span>Senautema</span></dt>
                <dd>
                    <span>{{ sen.senautema }}</span>
                </dd>
                <dt><span>Senautgrpsen</span></dt>
                <dd>
                    <span>{{ sen.senautgrpsen }}</span>
                </dd>
                <dt><span>Senautpagper</span></dt>
                <dd>
                    <span>{{ sen.senautpagper }}</span>
                </dd>
                <dt><span>Sennbrque</span></dt>
                <dd>
                    <span>{{ sen.sennbrque }}</span>
                </dd>
                <dt><span>Sennomdis</span></dt>
                <dd>
                    <span>{{ sen.sennomdis }}</span>
                </dd>
                <dt><span>Numsen</span></dt>
                <dd>
                    <span>{{ sen.numsen }}</span>
                </dd>
                <dt><span>Sennumsie</span></dt>
                <dd>
                    <span>{{ sen.sennumsie }}</span>
                </dd>
                <dt><span>Sennbrvid</span></dt>
                <dd>
                    <span>{{ sen.sennbrvid }}</span>
                </dd>
                <dt><span>Sennomdit</span></dt>
                <dd>
                    <span>{{ sen.sennomdit }}</span>
                </dd>
                <dt><span>Titnobcod</span></dt>
                <dd>
                    <span>{{ sen.titnobcod }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sen', sen.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
